In [32]:
pip install pandas

Requirement already satisfied: pandas in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\90538\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\90538\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (3.8.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: cycler>=0.10 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\90538\appdata\roaming\python\python310\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: pillow>=8 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\90538\appdata\roaming\python\python310\site-packages (from matplotlib) (24.0)
Requirement already satisfied: six>=1.5 in c:\users\90538\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: pandas>=1.2 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\90538\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: cycler>=0.10 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: pillow>=8 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\90538\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\90538\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [35]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (1.4.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\90538\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from itertools import product
from sklearn.exceptions import ConvergenceWarning

In [54]:
oscar_df = pd.read_csv("C:/Users/90538/Desktop/Machine Learning/oscar.csv") #This line of code reads a CSV file named "oscar.csv"

oscar_df

      Unnamed: 0                               Film  Year  Award  Nomination
0              0  Everything Everywhere All at Once  2022      7          11
1              1     All Quiet on the Western Front  2022      4           9
2              2                          The Whale  2022      2           3
3              3                  Top Gun: Maverick  2022      1           6
4              4     Black Panther: Wakanda Forever  2022      1           5
...          ...                                ...   ...    ...         ...
1355        1355            The Yankee Doodle Mouse  1943      1           1
1356        1356                       The Yearling  1946      2           7
1357        1357      Yesterday, Today and Tomorrow  1964      1           1
1358        1358         You Can't Take It with You  1938      2           7
1359        1359                    Zorba the Greek  1964      3           7

[1360 rows x 5 columns]

In [55]:
oscar_df.info #provides a concise summary of the DataFrame including its structure, data types, non-null counts, and memory usage.

<bound method DataFrame.info of       Unnamed: 0                               Film  Year  Award  Nomination
0              0  Everything Everywhere All at Once  2022      7          11
1              1     All Quiet on the Western Front  2022      4           9
2              2                          The Whale  2022      2           3
3              3                  Top Gun: Maverick  2022      1           6
4              4     Black Panther: Wakanda Forever  2022      1           5
...          ...                                ...   ...    ...         ...
1355        1355            The Yankee Doodle Mouse  1943      1           1
1356        1356                       The Yearling  1946      2           7
1357        1357      Yesterday, Today and Tomorrow  1964      1           1
1358        1358         You Can't Take It with You  1938      2           7
1359        1359                    Zorba the Greek  1964      3           7

[1360 rows x 5 columns]>

In [56]:
oscar_df.index #returns the index labels of the DataFrame which are used to uniquely identify rows in the DataFrame

RangeIndex(start=0, stop=1360, step=1)

In [57]:
print(oscar_df.isnull().sum()) # displays the count of missing values for each column in the DataFrame #there is one missing value in the "Film" column of the DataFrame

Unnamed: 0    0
Film          1
Year          0
Award         0
Nomination    0
dtype: int64

In [58]:
oscar_df.dropna() #removes any rows from the DataFrame that contain missing values (NaNs) and returns a new DataFrame without those rows.

      Unnamed: 0                               Film  Year  Award  Nomination
0              0  Everything Everywhere All at Once  2022      7          11
1              1     All Quiet on the Western Front  2022      4           9
2              2                          The Whale  2022      2           3
3              3                  Top Gun: Maverick  2022      1           6
4              4     Black Panther: Wakanda Forever  2022      1           5
...          ...                                ...   ...    ...         ...
1355        1355            The Yankee Doodle Mouse  1943      1           1
1356        1356                       The Yearling  1946      2           7
1357        1357      Yesterday, Today and Tomorrow  1964      1           1
1358        1358         You Can't Take It with You  1938      2           7
1359        1359                    Zorba the Greek  1964      3           7

[1359 rows x 5 columns]

In [59]:
oscar_df.dropna(inplace=True) #modifies oscar_df in place, meaning the original DataFrame is updated without creating a new copy
oscar_df

      Unnamed: 0                               Film  Year  Award  Nomination
0              0  Everything Everywhere All at Once  2022      7          11
1              1     All Quiet on the Western Front  2022      4           9
2              2                          The Whale  2022      2           3
3              3                  Top Gun: Maverick  2022      1           6
4              4     Black Panther: Wakanda Forever  2022      1           5
...          ...                                ...   ...    ...         ...
1355        1355            The Yankee Doodle Mouse  1943      1           1
1356        1356                       The Yearling  1946      2           7
1357        1357      Yesterday, Today and Tomorrow  1964      1           1
1358        1358         You Can't Take It with You  1938      2           7
1359        1359                    Zorba the Greek  1964      3           7

[1359 rows x 5 columns]

In [60]:
duplicate_rows = oscar_df.duplicated().sum() # calculates the total number of duplicate rows in the DataFrame 

print("Number of duplicate rows:", duplicate_rows)

Number of duplicate rows: 0

In [67]:
oscar_df.describe() # provides descriptive statistics

        Unnamed: 0         Year        Award   Nomination
count  1359.000000  1359.000000  1359.000000  1359.000000
mean    679.283297  1883.493010     1.573216     3.614422
std     392.805725   416.721383     1.388058     3.119604
min       0.000000    21.000000     0.000000     0.000000
25%     339.500000  1950.000000     1.000000     1.000000
50%     679.000000  1974.000000     1.000000     2.000000
75%    1019.500000  1998.000000     2.000000     6.000000
max    1359.000000  2022.000000    11.000000    14.000000